.post__container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}
.post {
  border: 1px solid rgba(231, 70, 183, 0.61);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 5px;
}
.title {
  font-weight: 500;
  font-size: 18px;
  color: rgb(173, 32, 98);
}
.body {
  font-weight: 500;
  color: rgb(252, 57, 148);
}