.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input__modal {
  width: 350px;
  height: 30px;
  margin-bottom: 15px;
}
.btn__modal {
  width: 100px;
  height: 30px;
}