.container__todos {
  margin-top: 116px;
}
.container__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn__container {
}
.input__modal {
  width: 350px;
  height: 30px;
  margin-bottom: 15px;
}
.btn__modal {
  /* width: 100px;
  height: 30px; */
  margin-right: 20px;
}
.btnCancel {

}
